*~
*.bak
*.DS_Store
.idea
/EPED-source
/OMFIT-source*
/OMFIT-docs
/gacode
/gacode_add
/ips-atom
/harvest_client
/BOUT
/fann
/neural
/omas
/atom-doc
/atom-website
/ipsframework-code
/ips
/miniconda2*
/miniconda3*
/stats
/omfit_standalone_classes
/IMAS/imas-fc2k-latest.tar.xz
stats.txt
OMFITstats.txt
html/src/_build
CONFIG
modules/atom
html/src/mathmacro.pyc
bin/pip
__pycache__/
*.pyc