*~
*.bak
.idea
/EPED-source
/OMFIT-source
/OMFIT-docs
/gacode
/gacode_add
/ips-atom
/harvest_client
/BOUT
/fann
/omas
/atom-doc
/atom-website
stats.txt
html/src/_build
CONFIG
platform
PLATFORM
modules/atom